@media (min-width: 80ch) {
  .popout {
    display: flex;

    max-width: 100vw;
    margin-left: calc(-50vw + 40ch);
    margin-right: calc(-50vw + 40ch);
  }
}

/* Sketch */
.sketch {
  margin: 2rem auto;
  background-color: white;
  border: 1px solid black;
}

.sketch > canvas {
  max-width: 100%;
  height: auto !important;
}

/* Controls */
.controls .color-box {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.controls .buttons-container {
  display: flex;
  justify-content: space-between;
}

/* Observer controls */
.observer-details {
  display: grid;
  gap: 1rem;
}

@media (min-width: 80ch) {
  .observer-details {
    grid-template-columns: repeat(2, 1fr);
  }
}

.observer-details table {
  width: 100%;
}

.observer-details table td {
  text-align: right;
}

.observer-details .action-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
